@import 'antd/dist/antd.css';
.App {
  text-align: center;
  margin: 2rem;
}
.navbar {
  margin: 1rem;
}
.App-header {
  background-color: #a1aec9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.floating_button {
  position: fixed;
  bottom: 35px;
  right: 15%;
  z-index: 10;
  height: 40px;
  border: 1px solid rgb(221, 152, 235);
  border-radius: 500px;
  background-color: rgb(205, 241, 202);

  box-shadow: 7px 20px 25px -16px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 7px 20px 25px -16px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 7px 20px 25px -16px rgba(0, 0, 0, 0.58);
}

.content-container {
  margin: 2rem 0rem;
  width: 100%;
}
.splashscreen-container{
  margin-top: 15rem
}
